body {
  color: white;
  background-color: #292929;
  overflow: auto;
}

#sdp-form textarea{
  width: 600px;
  height: 250px;
}

#testsvg {
  width: 400px;
  height: 250px;
  stroke: 30px black;
  font-family: dseg;
}

#testsvg:hover #rpmBar {
  fill: red;
  width: 95%;
}

#rpmBar {
  transition: width 2s, background-color 3s;
}

@font-face {
  font-family: dseg;
  /* src: url(./node_modules/dseg/fonts/DSEG14-Classic/DSEG14Classic-Regular.ttf); */
}

#svgtext {
  font-family: dseg;
}
